WEB_ORIGIN=http://localhost:WEB_PORT
WEB_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
API_SERVER_URL=http://localhost:API_PORT
NODE_ENV=development
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB_NAME
POSTGRES_PORT=POSTGRES_PORT
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:POSTGRES_PORT/POSTGRES_DB_NAME
PGADMIN_PORT=POSTGRES_GUI_PORT
PGADMIN_DEFAULT_EMAIL=POSTGRES_GUI_EMAIL
PGADMIN_DEFAULT_PASSWORD=POSTGRES_GUI_PASSWORD
